[tool.poetry]
name = "bacchus"
version = "0.1.1"
description = "Home Server solution based on docker"
authors = ["David Francos <opensource@davidfrancos.net>"]
packages = [{ include = "bacchus", from = "src" }]
license = "MIT"
include = ["src/bacchus/docker-compose.yml"]

[tool.poetry.scripts]
bacchus = 'bacchus.cli:main'

[tool.poetry.dependencies]
python = "^3.7"
cleo = "^0.7.6"
docker = "^4.1"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

